@model Carro.compas.Web.Models.cliente

@{

    var r = Convert.ToString(Session["rut"]);
    var t = Convert.ToInt32(Session["tipo"]);
    var n = Convert.ToString(Session["nombre"]);

    if (r == null || r == "" || t == null || t != 1)
    {
        Response.Redirect("~/Home/Log");
    }


}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Clientes</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Detalle del cliente</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Admin/LUcliente">Volver al listado de usuario cliente</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="~/Admin/Lclientes">Volver al listado de clientes</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="~/Admin/Index_admin">Volver al inicio</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="~/Admin/Csesion">Cerrar sesion</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <br />

    <table align="center" class="border border-dark" border="1">
        <tr>
            <td colspan="2" align="center"><h3>Detalles del cliente</h3></td>
        </tr>
        <!---->
        <tr>
            <td><label>Rut : </label></td>
            <td><label>@Model.rut</label></td>
        </tr>

        <tr>
            <td><label>Nombre : </label></td>
            <td><label>@Model.nombre</label></td>
        </tr>
        <tr>
            <td><label>Apellido : </label></td>
            <td><label>@Model.apellido</label></td>
        </tr>
        <tr>
            <td><label>Direccion : </label></td>
            <td><label>@Model.direccion</label></td>
        </tr>
        <tr>
            <td><label>Comuna : </label></td>
            <td><label>@Model.comuna</label></td>
        </tr>
        <tr>
            <td><label>Ciudad : </label></td>
            <td><label>@Model.ciudad</label></td>
        </tr>
        <tr>
            <td><label>Correo : </label></td>
            <td><label>@Model.correo</label></td>
        </tr>
        <tr>
            <td><label>Telefono : </label></td>
            <td><label>@Model.telefono</label></td>
        </tr>




    </table>





    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
